@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
width: 100;
height: 100vh;
display: flex;
background-color: #E0A4A4;
flex-direction: column;
align-items: center;
justify-content: center;
}
h1{
    font-family: "Titan One", sans-serif;
    color: white;
    font-size: 5rem;
}

#joeRaivoso{
    width: 50%;
}
p{
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;  
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;  
    font-family: "Montserrat", sans-serif;
}
a:hover{
    color: rgb(190, 12, 65);
}