<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/errado.css">
    <title>Document</title>
</head>
<body>
        <h1>JOES's</h1>
        <img id="joeRaivoso" src="../view/image/Joe/JOE_RAIVOSO.gif" alt="">
        <p>O Joe acha que você não é quem diz que é</p>
        <a href="../index.php">Tente de novo, mas ele está de olho em você</a>
  

</body>
</html>